@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.contnr {
  @apply max-w-2xl xl:max-w-4xl 2xl:max-w-7xl mx-auto px-8 py-12;
}

.text-grad {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(270deg, #a5d9ff 7.6%, #7399fb 94.15%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
